In [296]:
#import sys
#!{sys.executable} -m pip install lxml

In [297]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
from io import StringIO
import time
import json
import numpy as np
import requests
from lxml import html

# part 1: dotabuff

at first, i collect matches id.<br>
tournament: the international 2019 (group stage and main event).<br>

In [44]:
# collect all the mentions of matches
matches_span = []

for i in range(1,11):
    url = "https://www.dotabuff.com/esports/events/284-ti9-group-main/matches?original_slug=284-ti9-group-main&page=" + str(i)
    page = requests.get(url, headers={'user-agent':'Mozilla/5.0'})
    soup = BeautifulSoup(page.content, 'html.parser')
    match_span = soup.find_all("td", class_="cell-mediumlarge")
    matches_span += match_span

In [46]:
# filter only matches mentions
matches_id = []

for match in matches_span:
    match_id = re.findall(r"\/[0-9]+", str(match))
    matches_id += match_id

In [48]:
# fix matches
matches_id = list(set(matches_id))

ids = ""
for game in matches_id:
    game_id = game[1:]
    ids = ids + "\n" + game_id
    
ids = "match_id" + "\n" + ids
ids1 = StringIO(ids)

In [49]:
# create df
df = pd.read_csv(ids1, sep =";") 

# write df
df.to_csv(r"/Users/eyumarch/Documents/BDA/ti9_ids.csv", index=False)

# part 2. opendota

now, it is time to collect all the variables we are going to analyse :)

In [51]:
# open df with matches id
df = pd.read_csv(r"/Users/eyumarch/Documents/BDA/ti9_ids.csv")

In [52]:
# collect all data for the matches
matches = []

for match in df.match_id:
    url = "https://api.opendota.com/api/matches/" + str(match)
    page = requests.get(url, headers={'user-agent':'Mozilla/5.0'})
    match_data = page.json()
    matches.append(match_data)
    time.sleep(1)

In [55]:
# write json
with open(r"/Users/eyumarch/Documents/BDA/ti9_json.json", 'w') as fout:
    json.dump(matches, fout)

json above is unfiltered, but we do not need all of these variables. so, now it is to filter smth!

In [260]:
ti9 = pd.DataFrame()

for i in range(len(matches)):
    match = pd.DataFrame.transpose(pd.DataFrame(list(matches[i].items())))
    match = match.rename(columns=match.iloc[0]).drop(match.index[0])
    
    # players
    players_df = pd.DataFrame()
    for player in match.players[1]:
        a = pd.DataFrame.transpose(pd.DataFrame(list(player.items())))
        a = a.rename(columns=a.iloc[0]).drop(a.index[0])
        a = a[['match_id', 'hero_damage', 'hero_healing', 'obs_placed', 'kda', 'player_slot']]
        players_df = players_df.append(a)

    # radiant team info
    try:
        rad_t = pd.DataFrame.transpose(pd.DataFrame(list(match.radiant_team[1].items())))
        rad_t = rad_t.rename(columns=rad_t.iloc[0]).drop(rad_t.index[0])
        rad_t = rad_t[["name", "team_id", "tag"]]
        rad_t = rad_t.rename(columns={'team_id': 'rad_team_id', 'tag': 'rad_tag'})
    except:
        pass

    # dire team info
    try:
        dire_t = pd.DataFrame.transpose(pd.DataFrame(list(match.dire_team[1].items())))
        dire_t = dire_t.rename(columns=dire_t.iloc[0]).drop(dire_t.index[0])
        dire_t = dire_t[["name", "team_id", "tag"]]
        dire_t = dire_t.rename(columns={'team_id': 'dire_team_id', 'tag': 'dire_tag'})
    except:
        pass
    
    teams = pd.concat([rad_t.reset_index(drop=True), dire_t.reset_index(drop=True)], axis=1)
    
    # add team
    match = pd.concat([match.reset_index(drop=True), teams.reset_index(drop=True)], axis=1)

    # add players
    match = pd.merge(match, players_df, on='match_id', how='left')
    
    # take only needed columns
    match = match[['match_id', 'radiant_score', 'dire_score', 'radiant_xp_adv', 'radiant_gold_adv', 'rad_team_id', 'rad_tag', 'dire_team_id', 'dire_tag', 'hero_damage', 'hero_healing', 'obs_placed', 'kda', 'player_slot']]
    
    # add final
    ti9 = ti9.append(match)

In [261]:
ti9 = pd.DataFrame(ti9)

In [262]:
ti9.head()

,match_id,radiant_score,dire_score,radiant_xp_adv,radiant_gold_adv,rad_team_id,rad_tag,dire_team_id,dire_team_id,dire_tag,hero_damage,hero_healing,obs_placed,kda,player_slot
0,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,9112,0,14,1,0
1,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,8190,2990,5,4,1
2,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,32333,0,0,2,2
3,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,15081,0,0,1,3
4,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,9993,0,0,0,4

In [275]:
ti9['player_slot'] = np.where(ti9['player_slot']<= 127, "radiant", "dire")

In [277]:
# write df
ti9.to_csv(r"/Users/eyumarch/Documents/BDA/ti9_no.csv", index=False)

# part 3. regions

the last info we need is region of the team

In [310]:
# all unique teams
t1 = pd.unique(ti9.rad_tag).tolist()
t2 = pd.unique(ti9.dire_tag).tolist()
t = pd.unique(t1 + t2).tolist()

In [320]:
# regions
regions = pd.DataFrame(columns = ["rad_tag", "region"])

regions.rad_tag = t
regions.region = ["Europe", "Europe", "Southeast Asia", "CIS", "China", "Southeast Asia", "South America", "Europe", "CIS", "Southeast Asia", "Europe", "Europe", "China", "China", "Europe", "North America", "China", "North America"]

In [321]:
# add regions
ti9 = pd.merge(ti9, regions, on='rad_tag', how='left')

In [323]:
# regions
regions = pd.DataFrame(columns = ["dire_tag", "region"])

regions.dire_tag = t
regions.region = ["Europe", "Europe", "Southeast Asia", "CIS", "China", "Southeast Asia", "South America", "Europe", "CIS", "Southeast Asia", "Europe", "Europe", "China", "China", "Europe", "North America", "China", "North America"]

In [324]:
# add regions
ti9 = pd.merge(ti9, regions, on='dire_tag', how='left')

In [325]:
# write final version
ti9.to_csv(r"/Users/eyumarch/Documents/BDA/ti9_full.csv", index=False)