# Data Transformation

## Basic imports

In [1]:
import numpy as np
import pandas as pd

import ast

## Load Data

In [2]:
ti9_path = "../ti9_full.csv"
ti = pd.read_csv(ti9_path)
print(f"Shape of dataframe: {ti.shape}")
ti.sample(5)  # show 5 random entries

Shape of dataframe: (1950, 17)

,match_id,radiant_score,dire_score,radiant_xp_adv,radiant_gold_adv,rad_team_id,rad_tag,dire_team_id,dire_team_id.1,dire_tag,hero_damage,hero_healing,obs_placed,kda,player_slot,region_x,region_y
989,4967770591,22,24,"[0, -164, 174, 196, -360, -996, -835, -107, -5...","[0, -71, 580, 608, 486, 157, 207, 587, 360, 10...",6214973,NiP,1883502,1883502,VP,9194,1100,0.0,9,dire,Europe,CIS
1243,4967601727,15,39,"[0, 126, 271, -272, -614, 12, 52, 131, 166, -1...","[0, 68, 170, -283, -579, 30, -218, -19, 5, -23...",2163,Liquid,6214538,6214538,Newbee,33983,0,1.0,1,radiant,Europe,North America
857,4973241299,22,31,"[-40, -252, 29, -151, 123, -457, -813, 375, -4...","[-366, -1006, -890, -698, -500, -895, -1498, -...",6209804,RNG,2672298,2672298,Infamous,10265,4047,10.0,2,dire,China,South America
1340,4971353216,33,25,"[-39, 217, 292, 502, 871, 1176, 1014, 1635, 11...","[-328, -187, 87, 453, 710, 828, 1695, 1921, 66...",1883502,VP,2672298,2672298,Infamous,25466,0,0.0,5,radiant,CIS,South America
1828,4980430921,18,29,"[0, -45, 111, 291, 707, 461, 690, 764, 310, 76...","[0, -69, 232, 305, 661, 682, 338, 454, 215, 14...",543897,Mineski,1838315,1838315,Secret,8302,4613,0.0,2,dire,Southeast Asia,Europe

In [3]:
# Check for nan values
ti.dropna().shape, ti.shape

((1940, 17), (1950, 17))

It seems that there are some NaN values. They are exactly 10 so I guess they have to do with a certain match. I will drop them.

In [4]:
ti = ti.dropna()

Total matches now:

In [5]:
match_ids = pd.unique(ti.match_id)
f"There are {len(match_ids)} matches in total."

'There are 194 matches in total.'

In [54]:
ti[ti.match_id==4978701632]

,match_id,radiant_score,dire_score,radiant_xp_adv,radiant_gold_adv,rad_team_id,rad_tag,dire_team_id,dire_team_id.1,dire_tag,hero_damage,hero_healing,obs_placed,kda,player_slot,region_x,region_y
0,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,9112,0,14.0,1,radiant,Europe,North America
1,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,8190,2990,5.0,4,radiant,Europe,North America
2,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,32333,0,0.0,2,radiant,Europe,North America
3,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,15081,0,0.0,1,radiant,Europe,North America
4,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,9993,0,0.0,0,radiant,Europe,North America
5,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,24773,0,0.0,7,dire,Europe,North America
6,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,23941,0,0.0,5,dire,Europe,North America
7,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,4599,0,19.0,7,dire,Europe,North America
8,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,23325,3394,0.0,5,dire,Europe,North America
9,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,4556,0,1.0,2,dire,Europe,North America

## Define Performance Score

Based on Rongzhi's slides.

I have separated each calculation in separate functions to make them more readable.

In [6]:
def _score_gap(match):
    # NOTE: This is not normalized (we will probably normalize the whole dataset later so it is okay).
    score = match[['radiant_score', 'dire_score']].values[0]
    return score[0] - score[1]  # will be (probably) negative if radiant lost

In [7]:
def _xp_gap(match, use_weights=True):
    # Take the sum of the xp advantages (over all minutes)
    # NOTE: This is probably not what Rongzhi mentioned in his slides but I couldn't understand what "10minutes xp advantage" meant
    xp_list = np.array(ast.literal_eval(pd.unique(match.radiant_xp_adv)[0]))
    # A negative sum would mean that the radiant team was on a disantage most of the times
    if use_weights:
        # IDEA: the last few minutes are more important and so we should give a greater weight to these
        weights = np.linspace(0.1, 1, num=len(xp_list))  # start from 0.1 in order to avoid zeros
        xp_list_weighted = weights * xp_list
        return np.sum(xp_list_weighted)
    return np.sum(xp_list)

In [13]:
def _gold_advantage(match, use_weights=True):  # Maybe we could use only the final gold advantage as Rongzhi said
    # Probably gold is more important than xp (especially in lengthy matches)
    gold_list = np.array(ast.literal_eval(pd.unique(match.radiant_gold_adv)[0]))
    # A negative sum would mean that the radiant team had less gold for most of the game
    if use_weights:
        weights = np.linspace(0.1, 1, num=len(gold_list))  # start from 0.1 in order to avoid zeros
        gold_list_weighted = weights * gold_list
        return np.sum(gold_list_weighted)
    return np.sum(xp_list)

In [24]:
# Idea: Hero damage and healing is specific to the type of player. For example if a player is a support then it is more
#       probable for them to heal than to have high damage. Maybe there is a way to take advantage of that?
def _hero_specific_scores(match):  # hero damage and hero healing
    radiant_stats = match[match.player_slot=='radiant']  # for each player (length of 5)
    dire_stats = match[match.player_slot=='dire']  # for each player (length of 5)
    # Ignore the check below for now
    # assert radiant_stats.shape == dire_stats.shape, f"Match {match_id} consisted of uneven teams."  # in case of bad data
    radiant = {
        "damage": radiant_stats['hero_damage'].values, 
        "healing": radiant_stats['hero_healing'].values,
        "kda": radiant_stats['kda'].values,
        "wards": radiant_stats['obs_placed'].values,
    }  # will contain the damage and healing scores for the radiant players
    dire = {
        "damage": dire_stats['hero_damage'].values, 
        "healing": dire_stats['hero_healing'].values,
        "kda": dire_stats['kda'].values,
        "wards": dire_stats['obs_placed'].values,
    }
#     # Case 1: get the max hero damage and max hero healing
#     radiant_damage = np.max(radiant['damage'])
#     dire_damage = np.max(dire['damage'])
#     radiant_healing = np.max(radiant['healing'])
#     dire_healing = np.max(dire['healing'])
#     radiant_kda = np.max(radiant['kda'])
#     dire_kda = np.max(dire['kda'])
#     radiant_wards = np.max(radiant['wards'])
#     dire_wards = np.max(dire['wards'])
#     return (radiant_damage, radiant_healing, radiant_kda, radiant_wards,
#             dire_damage, dire_healing, dire_kda, dire_wards)
#     # Case 2: get the sum of hero damages and max hero healings (probably better than the above)
#     radiant_damage_score = np.sum(radiant['damage'])
#     dire_damage_score = np.sum(dire['damage'])
#     radiant_healing_score = np.sum(radiant['healing'])
#     dire_healing_score = np.sum(dire['healing'])
#     radiant_kda_score = np.sum(radiant['kda'])
#     dire_kda_score = np.sum(dire['kda'])
#     radiant_wards = np.sum(radiant['wards'])
#     dire_wards = np.sum(dire['wards'])
#     return (radiant_damage, radiant_healing, radiant_kda, radiant_wards,
#             dire_damage, dire_healing, dire_kda, dire_wards)
    # Case 3: Use the diffence of the sums for each team (maybe that's the best one)
    dmg_diff = np.sum(radiant['damage']) - np.sum(dire['damage'])
    heal_diff = np.sum(radiant['healing']) - np.sum(dire['healing'])
    kda_diff = np.sum(radiant['kda']) - np.sum(dire['kda'])
    wards_diff = np.sum(radiant['wards']) - np.sum(dire['wards'])
    return dmg_diff, heal_diff, kda_diff, wards_diff

In [46]:
# Idea: Hero damage and healing is specific to the type of player. For example if a player is a support then it is more
#       probable for them to heal than to have high damage. Maybe there is a way to take advantage of that?
def _hero_specific_scores_v2(match):  # hero damage and hero healing
    assert match.shape[0] == 5  # this should be used only when passing data for a specific team
    # Ignore the check below for now
    # assert radiant_stats.shape == dire_stats.shape, f"Match {match_id} consisted of uneven teams."  # in case of bad data
    stats = {
        "damage": match['hero_damage'].values, 
        "healing": match['hero_healing'].values,
        "kda": match['kda'].values,
        "wards": match['obs_placed'].values,
    }  # will contain the damage and healing scores for the radiant players
    # Simply use the sum
    dmg_diff = np.sum(stats['damage'])
    heal_diff = np.sum(stats['healing'])
    kda_diff = np.sum(stats['kda'])
    wards_diff = np.sum(stats['wards'])
    return dmg_diff, heal_diff, kda_diff, wards_diff

In [51]:
def performance(match):
    # match should be a dataframe that contains 5 rows 
    score_gap = _score_gap(match)
    xp_gap = _xp_gap(match, use_weights=True)
    gold_adv = _gold_advantage(match, use_weights=True)
#     # case 1, 2 above
#     rad_dmg, rad_heal, rad_kda, rad_wards, dire_dmg, dire_heal, dire_kda, dire_wards = _hero_specific_score(match_id, df)
#     dmg_diff, heal_diff, kda_diff, wards_diff = _hero_specific_scores(match)  # case 3
    total_dmg, total_heal, total_kda, total_wards = _hero_specific_scores_v2(match)  # case 3
    return score_gap, xp_gap, gold_adv, total_dmg, total_heal, total_kda, total_wards

In [48]:
# Example
performance(ti[ti.match_id == 4967996576][ti.player_slot=='radiant'])

<ipython-input-48-d6c54659db64>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  performance(ti[ti.match_id == 4967996576][ti.player_slot=='radiant'])

(-12, 95320.21666666667, 215900.69999999998, 122918, 16476, 12, 25.0)

### Create a DF for each match with their performance scores

I use case 3 from the `_hero_specific_score` method.

**FIX: The DataFrame should contain info for each team separately** (the old version is still bellow).

In [27]:
from collections import defaultdict

In [55]:
teams = defaultdict(dict)
for match_id in match_ids:
    matches = ti[ti.match_id == match_id]
    # Radiant team
    rad_tag = matches.rad_tag.to_list()[0]
    rad_performance = performance(matches[matches.player_slot == 'radiant'])
    rad_total_score = rad_performance
    teams[match_id][rad_tag+"_radiant"] = rad_total_score
    # Dire team
    dire_tag = matches.dire_tag.to_list()[0]
    dire_performance = performance(matches[matches.player_slot == 'dire'])
    dire_total_score = dire_performance
    teams[match_id][dire_tag+"_dire"] = dire_total_score

In [56]:
# complete_df = {"match_id": [], "team_tag": [], "region": [], "team_slot": []}
complete_df = defaultdict(list)
cols = ["score_gap", "xp_gap", "gold_adv", "total_dmg", "total_heal", "total_kda", "total_wards"]
for match_id in match_ids:
    for team in teams[match_id]:
        team_tag, team_slot = team.split("_")  # e.g. Secret_radiant -> secret, radiant
        complete_df["match_id"].append(match_id)
        complete_df["team_tag"].append(team_tag)
        if team_slot == "radiant":
            is_dire = False
            region = ti[ti.match_id==match_id].region_x.to_list()[0]
        else:
            is_dire = True
            region = ti[ti.match_id==match_id].region_y.to_list()[0]
        complete_df["region"].append(region)
        complete_df["team_slot"].append(team_slot)
        performance_scores = teams[match_id][team]
        for i, col in enumerate(cols):
            if (col in ["score_gap", "xp_gap", "gold_adv"]) and is_dire:
                sc = (-1) * performance_scores[i]  # the _gap and _adv are calculated with respect to the radiant team and so we need to reverse them.
            else:
                sc = performance_scores[i]
            complete_df[col].append(sc)
complete_df = pd.DataFrame(complete_df)
complete_df.head()

,match_id,team_tag,region,team_slot,score_gap,xp_gap,gold_adv,total_dmg,total_heal,total_kda,total_wards
0,4978701632,Secret,Europe,radiant,-12,86164.553659,214749.407317,74709,2990,8,19.0
1,4978701632,EG,North America,dire,12,-86164.553659,-214749.407317,81194,3394,26,20.0
2,4969568760,Liquid,Europe,radiant,-6,-111669.400000,-83131.978261,117489,1446,10,20.0
3,4969568760,PSG.LGD,China,dire,6,111669.400000,83131.978261,104446,8788,25,21.0
4,4968466397,TNC,Southeast Asia,radiant,-18,-298842.237143,-216912.745714,56808,985,1,16.0

## Scale scores

In [57]:
from sklearn.preprocessing import normalize

In [60]:
columns_to_scale = ["score_gap", "xp_gap", "gold_adv", "total_dmg", "total_heal", "total_kda", "total_wards"]
cols_to_ignore = [col for col in complete_df.columns if col not in columns_to_scale]

In [62]:
matches_norm = normalize(complete_df.drop(columns=cols_to_ignore), axis=0, norm='l2')
matches_norm = pd.DataFrame(matches_norm, columns=columns_to_scale)
matches_norm['total_score'] = [matches_norm.iloc[i].sum() for i in range(len(matches_norm))]
for col in cols_to_ignore:
    matches_norm[col] = complete_df[col]
matches_norm.sample(10)

,score_gap,xp_gap,gold_adv,total_dmg,total_heal,total_kda,total_wards,total_score,match_id,team_tag,region,team_slot
198,-0.038345,0.025155,0.058724,0.062158,0.110925,0.024476,0.065530,0.308623,4967996576,Newbee,North America,radiant
238,0.060712,0.071548,0.060386,0.041157,0.016118,0.077507,0.044561,0.371989,4972973191,VG,China,radiant
16,-0.044736,-0.013550,-0.008890,0.035387,0.002693,0.010198,0.041939,0.023042,4971031352,Infamous,South America,radiant
319,-0.057517,-0.018440,-0.033111,0.017774,0.011930,0.004079,0.039318,-0.035967,4980773381,OG,Europe,dire
195,-0.038345,-0.004352,0.003804,0.073289,0.006517,0.020397,0.052424,0.113734,4967784803,OG,Europe,dire
318,0.057517,0.018440,0.033111,0.032173,0.014630,0.110142,0.036697,0.302710,4980773381,EG,North America,radiant
39,0.025563,0.042191,0.040243,0.044782,0.017585,0.061190,0.036697,0.268251,4977501535,Infamous,South America,dire
368,-0.038345,-0.040808,-0.041128,0.060956,0.050743,0.016317,0.057667,0.065402,4969288250,Alliance,Europe,radiant
28,0.044736,0.043955,0.035466,0.058691,0.052184,0.048952,0.055046,0.339028,4971301802,Alliance,Europe,radiant
129,0.051126,0.087057,0.043303,0.041318,0.007204,0.071388,0.049803,0.351199,4969405346,Na`Vi,CIS,dire

In [63]:
matches_norm.describe()

,score_gap,xp_gap,gold_adv,total_dmg,total_heal,total_kda,total_wards,total_score,match_id
count,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,3.880000e+02
mean,0.000000,0.000000,0.000000,0.046264,0.033438,0.039095,0.048506,0.167303,4.972879e+09
std,0.050833,0.050833,0.050833,0.020931,0.038249,0.032428,0.015002,0.188532,5.197800e+06
min,-0.105448,-0.176549,-0.220125,0.000000,0.000000,0.000000,0.000000,-0.290795,4.967601e+09
25%,-0.044736,-0.032641,-0.030328,0.032169,0.007387,0.012238,0.039318,0.000403,4.969249e+09
50%,0.000000,0.000000,0.000000,0.043731,0.022315,0.030595,0.047182,0.178830,4.971152e+09
75%,0.044736,0.032641,0.030328,0.056095,0.044976,0.059150,0.055046,0.312544,4.976790e+09
max,0.105448,0.176549,0.220125,0.136064,0.357927,0.146856,0.104849,0.865844,4.986462e+09

In [64]:
matches_norm.shape

(388, 12)

## Save Data

In [65]:
matches_norm.to_csv("./data/matches_normalized.csv", index=False)