# Data Transformation

## Basic imports

In [66]:
import numpy as np
import pandas as pd

import ast

## Load Data

In [67]:
ti9_path = "../ti9_full.csv"
ti = pd.read_csv(ti9_path)
print(f"Shape of dataframe: {ti.shape}")
ti.sample(5)  # show 5 random entries

Shape of dataframe: (1950, 17)

,match_id,radiant_score,dire_score,radiant_xp_adv,radiant_gold_adv,rad_team_id,rad_tag,dire_team_id,dire_team_id.1,dire_tag,hero_damage,hero_healing,obs_placed,kda,player_slot,region_x,region_y
428,4972974534,28,12,"[0, 146, 274, 335, 793, 1119, 1526, 2295, 1286...","[0, 222, 440, 389, 979, 1492, 1823, 2977, 2299...",350190,Fnatic,6209804,6209804,RNG,9991,0,0.0,1,dire,Southeast Asia,China
362,4967813166,10,26,"[0, -195, -209, -131, 221, 907, 789, 1584, 178...","[0, 438, 226, 483, 641, 1237, 1768, 2390, 2570...",2626685,KG,15,15,PSG.LGD,2578,0,2.0,1,radiant,China,China
1341,4971353216,33,25,"[-39, 217, 292, 502, 871, 1176, 1014, 1635, 11...","[-328, -187, 87, 453, 710, 828, 1695, 1921, 66...",1883502,VP,2672298,2672298,Infamous,8072,13,17.0,2,radiant,CIS,South America
687,4969565764,17,28,"[0, 378, 182, -301, -97, -613, -1425, -1039, -...","[0, -311, -580, -795, -523, -864, -1884, -1511...",2108395,TNC,6214538,6214538,Newbee,9921,2186,0.0,5,dire,Southeast Asia,North America
1665,4978884253,20,16,"[0, 122, -243, -404, -560, -610, -1039, -546, ...","[0, -80, -186, -743, -928, -960, -1534, -1091,...",6209804,RNG,1883502,1883502,VP,16107,450,0.0,1,dire,China,CIS

In [68]:
# Check for nan values
ti.dropna().shape, ti.shape

((1940, 17), (1950, 17))

It seems that there are some NaN values. They are exactly 10 so I guess they have to do with a certain match. I will drop them.

In [69]:
ti = ti.dropna()

Total matches now:

In [70]:
match_ids = pd.unique(ti.match_id)
f"There are {len(match_ids)} matches in total."

'There are 194 matches in total.'

In [54]:
ti[ti.match_id==4978701632]

,match_id,radiant_score,dire_score,radiant_xp_adv,radiant_gold_adv,rad_team_id,rad_tag,dire_team_id,dire_team_id.1,dire_tag,hero_damage,hero_healing,obs_placed,kda,player_slot,region_x,region_y
0,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,9112,0,14.0,1,radiant,Europe,North America
1,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,8190,2990,5.0,4,radiant,Europe,North America
2,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,32333,0,0.0,2,radiant,Europe,North America
3,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,15081,0,0.0,1,radiant,Europe,North America
4,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,9993,0,0.0,0,radiant,Europe,North America
5,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,24773,0,0.0,7,dire,Europe,North America
6,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,23941,0,0.0,5,dire,Europe,North America
7,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,4599,0,19.0,7,dire,Europe,North America
8,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,23325,3394,0.0,5,dire,Europe,North America
9,4978701632,14,26,"[0, -140, 288, 1025, 1423, 823, 1219, 763, 115...","[0, 368, 1303, 2166, 2636, 1959, 2690, 2641, 3...",1838315,Secret,39,39,EG,4556,0,1.0,2,dire,Europe,North America

## Define Performance Score

Based on Rongzhi's slides.

I have separated each calculation in separate functions to make them more readable.

In [71]:
def _score_gap(match):
    # NOTE: This is not normalized (we will probably normalize the whole dataset later so it is okay).
    score = match[['radiant_score', 'dire_score']].values[0]
    return score[0] - score[1]  # will be (probably) negative if radiant lost

In [72]:
def _xp_gap(match, use_weights=True):
    # Take the sum of the xp advantages (over all minutes)
    # NOTE: This is probably not what Rongzhi mentioned in his slides but I couldn't understand what "10minutes xp advantage" meant
    xp_list = np.array(ast.literal_eval(pd.unique(match.radiant_xp_adv)[0]))
    # A negative sum would mean that the radiant team was on a disantage most of the times
    if use_weights:
        # IDEA: the last few minutes are more important and so we should give a greater weight to these
        weights = np.linspace(0.1, 1, num=len(xp_list))  # start from 0.1 in order to avoid zeros
        xp_list_weighted = weights * xp_list
        return np.sum(xp_list_weighted)
    return np.sum(xp_list)

In [73]:
def _gold_advantage(match, use_weights=True):  # Maybe we could use only the final gold advantage as Rongzhi said
    # Probably gold is more important than xp (especially in lengthy matches)
    gold_list = np.array(ast.literal_eval(pd.unique(match.radiant_gold_adv)[0]))
    # A negative sum would mean that the radiant team had less gold for most of the game
    if use_weights:
        weights = np.linspace(0.1, 1, num=len(gold_list))  # start from 0.1 in order to avoid zeros
        gold_list_weighted = weights * gold_list
        return np.sum(gold_list_weighted)
    return np.sum(xp_list)

In [74]:
# Idea: Hero damage and healing is specific to the type of player. For example if a player is a support then it is more
#       probable for them to heal than to have high damage. Maybe there is a way to take advantage of that?
def _hero_specific_scores(match):  # hero damage and hero healing
    radiant_stats = match[match.player_slot=='radiant']  # for each player (length of 5)
    dire_stats = match[match.player_slot=='dire']  # for each player (length of 5)
    # Ignore the check below for now
    # assert radiant_stats.shape == dire_stats.shape, f"Match {match_id} consisted of uneven teams."  # in case of bad data
    radiant = {
        "damage": radiant_stats['hero_damage'].values, 
        "healing": radiant_stats['hero_healing'].values,
        "kda": radiant_stats['kda'].values,
        "wards": radiant_stats['obs_placed'].values,
    }  # will contain the damage and healing scores for the radiant players
    dire = {
        "damage": dire_stats['hero_damage'].values, 
        "healing": dire_stats['hero_healing'].values,
        "kda": dire_stats['kda'].values,
        "wards": dire_stats['obs_placed'].values,
    }
#     # Case 1: get the max hero damage and max hero healing
#     radiant_damage = np.max(radiant['damage'])
#     dire_damage = np.max(dire['damage'])
#     radiant_healing = np.max(radiant['healing'])
#     dire_healing = np.max(dire['healing'])
#     radiant_kda = np.max(radiant['kda'])
#     dire_kda = np.max(dire['kda'])
#     radiant_wards = np.max(radiant['wards'])
#     dire_wards = np.max(dire['wards'])
#     return (radiant_damage, radiant_healing, radiant_kda, radiant_wards,
#             dire_damage, dire_healing, dire_kda, dire_wards)
#     # Case 2: get the sum of hero damages and max hero healings (probably better than the above)
#     radiant_damage_score = np.sum(radiant['damage'])
#     dire_damage_score = np.sum(dire['damage'])
#     radiant_healing_score = np.sum(radiant['healing'])
#     dire_healing_score = np.sum(dire['healing'])
#     radiant_kda_score = np.sum(radiant['kda'])
#     dire_kda_score = np.sum(dire['kda'])
#     radiant_wards = np.sum(radiant['wards'])
#     dire_wards = np.sum(dire['wards'])
#     return (radiant_damage, radiant_healing, radiant_kda, radiant_wards,
#             dire_damage, dire_healing, dire_kda, dire_wards)
    # Case 3: Use the diffence of the sums for each team (maybe that's the best one)
    dmg_diff = np.sum(radiant['damage']) - np.sum(dire['damage'])
    heal_diff = np.sum(radiant['healing']) - np.sum(dire['healing'])
    kda_diff = np.sum(radiant['kda']) - np.sum(dire['kda'])
    wards_diff = np.sum(radiant['wards']) - np.sum(dire['wards'])
    return dmg_diff, heal_diff, kda_diff, wards_diff

In [75]:
# Idea: Hero damage and healing is specific to the type of player. For example if a player is a support then it is more
#       probable for them to heal than to have high damage. Maybe there is a way to take advantage of that?
def _hero_specific_scores_v2(match):  # hero damage and hero healing
    assert match.shape[0] == 5  # this should be used only when passing data for a specific team
    # Ignore the check below for now
    # assert radiant_stats.shape == dire_stats.shape, f"Match {match_id} consisted of uneven teams."  # in case of bad data
    stats = {
        "damage": match['hero_damage'].values, 
        "healing": match['hero_healing'].values,
        "kda": match['kda'].values,
        "wards": match['obs_placed'].values,
    }  # will contain the damage and healing scores for the radiant players
    # Simply use the sum
    dmg_diff = np.sum(stats['damage'])
    heal_diff = np.sum(stats['healing'])
    kda_diff = np.sum(stats['kda'])
    wards_diff = np.sum(stats['wards'])
    return dmg_diff, heal_diff, kda_diff, wards_diff

In [76]:
def performance(match):
    # match should be a dataframe that contains 5 rows 
    score_gap = _score_gap(match)
    xp_gap = _xp_gap(match, use_weights=True)
    gold_adv = _gold_advantage(match, use_weights=True)
#     # case 1, 2 above
#     rad_dmg, rad_heal, rad_kda, rad_wards, dire_dmg, dire_heal, dire_kda, dire_wards = _hero_specific_score(match_id, df)
#     dmg_diff, heal_diff, kda_diff, wards_diff = _hero_specific_scores(match)  # case 3
    total_dmg, total_heal, total_kda, total_wards = _hero_specific_scores_v2(match)  # case 3
    return score_gap, xp_gap, gold_adv, total_dmg, total_heal, total_kda, total_wards

In [77]:
# Example
performance(ti[ti.match_id == 4967996576][ti.player_slot=='radiant'])

<ipython-input-77-d6c54659db64>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  performance(ti[ti.match_id == 4967996576][ti.player_slot=='radiant'])

(-12, 95320.21666666667, 215900.69999999998, 122918, 16476, 12, 25.0)

### Create a DF for each match with their performance scores

I use case 3 from the `_hero_specific_score` method.

**FIX: The DataFrame should contain info for each team separately** (the old version is still bellow).

In [78]:
from collections import defaultdict

In [79]:
teams = defaultdict(dict)
for match_id in match_ids:
    matches = ti[ti.match_id == match_id]
    # Radiant team
    rad_tag = matches.rad_tag.to_list()[0]
    rad_performance = performance(matches[matches.player_slot == 'radiant'])
    rad_total_score = rad_performance
    teams[match_id][rad_tag+"_radiant"] = rad_total_score
    # Dire team
    dire_tag = matches.dire_tag.to_list()[0]
    dire_performance = performance(matches[matches.player_slot == 'dire'])
    dire_total_score = dire_performance
    teams[match_id][dire_tag+"_dire"] = dire_total_score

In [80]:
# complete_df = {"match_id": [], "team_tag": [], "region": [], "team_slot": []}
complete_df = defaultdict(list)
cols = ["score_gap", "xp_gap", "gold_adv", "total_dmg", "total_heal", "total_kda", "total_wards"]
for match_id in match_ids:
    for team in teams[match_id]:
        team_tag, team_slot = team.split("_")  # e.g. Secret_radiant -> secret, radiant
        complete_df["match_id"].append(match_id)
        complete_df["team_tag"].append(team_tag)
        if team_slot == "radiant":
            is_dire = False
            region = ti[ti.match_id==match_id].region_x.to_list()[0]
        else:
            is_dire = True
            region = ti[ti.match_id==match_id].region_y.to_list()[0]
        complete_df["region"].append(region)
        complete_df["team_slot"].append(team_slot)
        performance_scores = teams[match_id][team]
        for i, col in enumerate(cols):
            if (col in ["score_gap", "xp_gap", "gold_adv"]) and is_dire:
                sc = (-1) * performance_scores[i]  # the _gap and _adv are calculated with respect to the radiant team and so we need to reverse them.
            else:
                sc = performance_scores[i]
            complete_df[col].append(sc)
complete_df = pd.DataFrame(complete_df)
complete_df.head()

,match_id,team_tag,region,team_slot,score_gap,xp_gap,gold_adv,total_dmg,total_heal,total_kda,total_wards
0,4978701632,Secret,Europe,radiant,-12,86164.553659,214749.407317,74709,2990,8,19.0
1,4978701632,EG,North America,dire,12,-86164.553659,-214749.407317,81194,3394,26,20.0
2,4969568760,Liquid,Europe,radiant,-6,-111669.400000,-83131.978261,117489,1446,10,20.0
3,4969568760,PSG.LGD,China,dire,6,111669.400000,83131.978261,104446,8788,25,21.0
4,4968466397,TNC,Southeast Asia,radiant,-18,-298842.237143,-216912.745714,56808,985,1,16.0

## Scale scores

In [81]:
from sklearn.preprocessing import normalize

In [82]:
columns_to_scale = ["score_gap", "xp_gap", "gold_adv", "total_dmg", "total_heal", "total_kda", "total_wards"]
cols_to_ignore = [col for col in complete_df.columns if col not in columns_to_scale]

In [83]:
matches_norm = normalize(complete_df.drop(columns=cols_to_ignore), axis=0, norm='l2')
matches_norm = pd.DataFrame(matches_norm, columns=columns_to_scale)
matches_norm['total_score'] = [matches_norm.iloc[i].sum() for i in range(len(matches_norm))]
for col in cols_to_ignore:
    matches_norm[col] = complete_df[col]
matches_norm.sample(10)

,score_gap,xp_gap,gold_adv,total_dmg,total_heal,total_kda,total_wards,total_score,match_id,team_tag,region,team_slot
202,0.089471,0.035252,0.027938,0.047012,0.094518,0.087706,0.039318,0.421214,4982005618,Secret,Europe,radiant
40,-0.022368,-0.009660,-0.005013,0.037517,0.052877,0.022436,0.052424,0.128214,4980541717,VG,China,radiant
259,0.022368,0.009210,0.001200,0.039004,0.077606,0.067309,0.055046,0.271741,4983628610,PSG.LGD,China,dire
295,0.009586,-0.000996,0.090606,0.044323,0.052473,0.046912,0.060288,0.303193,4967695591,VG,China,dire
291,0.041540,0.045435,0.000051,0.053483,0.027044,0.053031,0.047182,0.267767,4971136869,RNG,China,dire
15,-0.038345,-0.008392,-0.008441,0.013921,0.002356,0.008159,0.023591,-0.007150,4967652141,Alliance,Europe,dire
142,0.028759,0.025095,-0.002599,0.046918,0.112850,0.053031,0.052424,0.316479,4977344912,Liquid,Europe,radiant
319,-0.057517,-0.018440,-0.033111,0.017774,0.011930,0.004079,0.039318,-0.035967,4980773381,OG,Europe,dire
146,-0.067103,-0.036582,-0.025288,0.020726,0.036470,0.002040,0.041939,-0.027799,4971405416,Na`Vi,CIS,radiant
28,0.044736,0.043955,0.035466,0.058691,0.052184,0.048952,0.055046,0.339028,4971301802,Alliance,Europe,radiant

In [84]:
matches_norm.describe()

,score_gap,xp_gap,gold_adv,total_dmg,total_heal,total_kda,total_wards,total_score,match_id
count,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,3.880000e+02
mean,0.000000,0.000000,0.000000,0.046264,0.033438,0.039095,0.048506,0.167303,4.972879e+09
std,0.050833,0.050833,0.050833,0.020931,0.038249,0.032428,0.015002,0.188532,5.197800e+06
min,-0.105448,-0.176549,-0.220125,0.000000,0.000000,0.000000,0.000000,-0.290795,4.967601e+09
25%,-0.044736,-0.032641,-0.030328,0.032169,0.007387,0.012238,0.039318,0.000403,4.969249e+09
50%,0.000000,0.000000,0.000000,0.043731,0.022315,0.030595,0.047182,0.178830,4.971152e+09
75%,0.044736,0.032641,0.030328,0.056095,0.044976,0.059150,0.055046,0.312544,4.976790e+09
max,0.105448,0.176549,0.220125,0.136064,0.357927,0.146856,0.104849,0.865844,4.986462e+09

In [64]:
matches_norm.shape

(388, 12)

## Save Data

In [65]:
matches_norm.to_csv("./data/matches_normalized.csv", index=False)

## Use min-max scaling

In [85]:
for col in columns_to_scale:
    col_min = np.min(complete_df[col].values)
    col_max = np.max(complete_df[col].values)
    complete_df[col+"_scaled"] = complete_df[col].apply(lambda x: (x-col_min)/(col_max-col_min))
cols_tmp = [col+"_scaled" for col in columns_to_scale]
complete_df['total_score'] = [complete_df[cols_tmp].iloc[i].sum() for i in range(len(complete_df))]
complete_df.sample(10)

,match_id,team_tag,region,team_slot,score_gap,xp_gap,gold_adv,total_dmg,total_heal,total_kda,total_wards,score_gap_scaled,xp_gap_scaled,gold_adv_scaled,total_dmg_scaled,total_heal_scaled,total_kda_scaled,total_wards_scaled,total_score
178,4971090004,Fnatic,Southeast Asia,radiant,8,63321.629412,143679.920588,70468,620,23,16.0,0.621212,0.547325,0.588768,0.261898,0.011662,0.319444,0.400,2.750310
315,4969499647,VP,CIS,dire,-19,-245942.300000,-127928.750000,102152,3414,5,24.0,0.212121,0.316188,0.420963,0.379653,0.064216,0.069444,0.600,2.062586
59,4981028582,EG,North America,dire,-8,-68831.466667,-62646.333333,64710,0,7,12.0,0.378788,0.448557,0.461296,0.240498,0.000000,0.097222,0.300,1.926360
44,4967642360,CHAOS,Europe,radiant,-16,-217830.550000,-186498.782353,55506,4680,4,16.0,0.257576,0.337198,0.384777,0.206291,0.088029,0.055556,0.400,1.729427
307,4973182943,Infamous,South America,dire,-14,-29383.240000,-50418.080000,18576,149,0,5.0,0.287879,0.478040,0.468851,0.069039,0.002803,0.000000,0.125,1.431610
21,4971088106,OG,Europe,dire,22,58411.771429,80563.057143,62550,3884,36,10.0,0.833333,0.543656,0.549773,0.232470,0.073057,0.500000,0.250,2.982289
340,4969238891,VP,CIS,radiant,-7,-171385.139024,-87070.204878,60433,4454,8,19.0,0.393939,0.371910,0.446206,0.224602,0.083778,0.111111,0.475,2.106548
329,4970923478,CHAOS,Europe,dire,-8,-104031.703226,-69031.638710,42440,125,5,14.0,0.378788,0.422249,0.457351,0.157730,0.002351,0.069444,0.350,1.837914
112,4971609890,Newbee,North America,radiant,33,386083.462162,250638.602703,113789,5489,60,17.0,1.000000,0.788551,0.654850,0.422902,0.103247,0.833333,0.425,4.227882
243,4968129116,Alliance,Europe,dire,4,173170.900000,293220.428571,165559,5649,15,28.0,0.560606,0.629424,0.681157,0.615308,0.106256,0.208333,0.700,3.501085

In [87]:
complete_df.drop(columns=columns_to_scale).describe()

,match_id,score_gap_scaled,xp_gap_scaled,gold_adv_scaled,total_dmg_scaled,total_heal_scaled,total_kda_scaled,total_wards_scaled,total_score
count,3.880000e+02,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000,388.000000
mean,4.972879e+09,0.500000,0.500000,0.500000,0.340017,0.093420,0.266216,0.462629,2.662282
std,5.197800e+06,0.241033,0.143962,0.115463,0.153830,0.106864,0.220816,0.143085,0.779357
min,4.967601e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.215727
25%,4.969249e+09,0.287879,0.407558,0.431112,0.236429,0.020639,0.083333,0.375000,1.957412
50%,4.971152e+09,0.500000,0.500000,0.500000,0.321400,0.062345,0.208333,0.450000,2.710335
75%,4.976790e+09,0.712121,0.592442,0.568888,0.412270,0.125658,0.402778,0.525000,3.260236
max,4.986462e+09,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.051236

In [88]:
complete_df.drop(columns=columns_to_scale).to_csv("./data/matches_min_max.csv", index=False)